*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: pink;
}
.front{
    margin-top: 100px;
    margin-left: 110px;
    margin-right: 100px;
    margin-bottom: 50px;
    height: 500px;
    width: 85%;
    border-radius: 20px;
    background-color: white;
}
.bean{
    height: 100px;
    width: 100px;
    margin-left: 45%;
    margin-top: 50px;
    border-radius: 50%;
    background: url(bean.jpg);
    background-size: cover;
    border: 1px solid grey;
    position: relative;
    bottom: 40px;
}
.bhai{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: violet;
}
.traits{
    padding-top: 40px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    display: flex;
    justify-content: space-evenly;
}